{% extends 'theme.html' %}
{% block content%}

 <div class="container">
    <div class="row">


                         <div class="card9 text-center">
                                  <div class="card-header">
                                   <br><h5> Please Enter Details</h5>
                                  </div>
                              <div class="card-body9">
                                  <br><br>
                                   <form action="BillInfoaddress" method="post">
                                     {% csrf_token %}

                                        <input type="hidden" name="BillNo" id="BillNo" value="{{BillNo}}">
                                        <input type="hidden" name="BClient_id" id="BClient_id" value="{{userId1}}">
                                        <input type="hidden" name="BClient_Name" id="BClient_Name" value="{{username}}">
                                         <input type="hidden" name="BClient_Mobile" id="BClient_Mobile" value="{{userMobile}}">
                                        <input type="hidden" name="BillTotal" id="BillTotal" value="{{BillTotal}}">

                                           Address: <input type="text" id="Add1" name="Add1" maxlength="40" placeholder="address" value="" autocomplete="off" required><br><br>

                                           location: <input type="text" id="Add2" name="Add2" maxlength="40" placeholder="location" value="" autocomplete="off" required><br><br>

                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;post: <input type="text" id="Add3" name="Add3" maxlength="40" placeholder="vtc" value="" autocomplete="off" required>

                                           <br></br>pincode: <input type="number" placeholder="pin code" name="pincode" id="pincode" pattern="[0-9]{6}" autocomplete="off" required><br><br>

                                           <button type="submit" class="btn btn-primary" >Submit</button>
                                        </form>
                              </div>

                         </div>

                    </div>

            </div>

    </div>
</div>

<style>

    input#Add1[type=text]{
	width: 230px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #02681;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 50;
	padding: 10px;
}
input#Add2[type=text]{
	width: 230px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #02681;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 50;
	padding: 10px;
}
input#Add3[type=text]{
	width: 230px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #02681;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 50;
	padding: 10px;
}

input#pincode[type=number]{
	width: 230px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #02681;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 50;
	padding: 10px;
}
</style>




{% endblock %}